# Single line comment

In [1]:
print("Hello World")

Hello World

# Multi line comment

In [2]:
'''
welcome
to 
nit
'''

'\nwelcome\nto \nnit\n'

# Variables

In [3]:
a=5
print(a)

5

In [4]:
b=2.3
print(b)

2.3

In [5]:
c="mani"
print(c)

mani

In [6]:
1a=20

SyntaxError: invalid decimal literal (2517538965.py, line 1)

In [8]:
a1=20
a1

20

In [9]:
if=20
if

SyntaxError: invalid syntax (2369829492.py, line 1)

In [10]:
If=20
If

20

Many values to multiple variables
   . Python allows you to assign values to multiple variables in one life
   . Make sure the number of variables matches the number of values, or else you will get an error

In [11]:
a,b,c=10,20,30
print(a,b,c)

10 20 30

one value to multiple variables
    . And you can assign the same value to multiple variables in one line

In [12]:
a=b=c=15
print(a,b,c)

15 15 15

. id()-- to check the address of the value or a variable

In [13]:
a=2
id(a)

140710071538504

In python, the latest value will stored in a variable

In [14]:
a="mani"
print(a)

mani

Deleting variable
    . Syntax to delete single variable
    . del variable_name

In [15]:
a,b=10,20
del a

    . Syntax to delte multiple variables at a time
    . del variable1, variable2,....then variable n

In [16]:
a,b,c=10,20,30
del a,b

# Print

Output in python
to print a single value
    . Syntax:print(value)

In [17]:
print(12)

12

In [18]:
print("mani")

mani

To print multiple values
    . Syntax: print(value1,value2,....value n)

In [19]:
print("mani",10,12,"ds")

mani 10 12 ds

To print a single variable
    . Syntax: print(variable)

In [20]:
a=99
print(a)

99

To print multiple variables
    . Syntax: print(Value1, value2, value3,...value n)

In [21]:
a,b=90,25
print(a,b)

90 25

To print combination of values and variables

In [22]:
a=10
print("the value of a:",a)

the value of a: 10

In [24]:
num=12
name='sun'
print("my number is:",num,"and my name is:",name)

my number is: 12 and my name is: sun

.Format()

In [25]:
num=12
name='sun'
print("my number is: {} and my name is: {}".format(num,name))

my number is: 12 and my name is: sun

# Integer, Float, Complex, Boolean, String

Integer(int):
    . numerical value with no decimal
    . can be neither negative or positive or zero

In [26]:
a=10
print(a)

10

In [27]:
type(a)

int

In [28]:
id(a)

140710071538760

In [29]:
print(type(a))

<class 'int'>

Float
    . a numerical value with decimal

In [30]:
b=2.4
print(b)

2.4

In [31]:
type(b)

float

In [32]:
print(type(b))

<class 'float'>

Boolean(bool)
    . True/False

In [33]:
a1=True
print(a1)

True

In [34]:
type(a1)

bool

In [35]:
print(type(a1))

<class 'bool'>

In [36]:
b1=False
print(b1)

False

In [37]:
type(b1)

bool

In [38]:
print(type(b1))

<class 'bool'>

Complex

In [39]:
a2=1+2j
print(a2)

(1+2j)

In [40]:
type(a2)

complex

In [41]:
print(type(a2))

<class 'complex'>

String(str)
    . a combination or sequence of characters (alphabets, numbers, special characters)
    . we can use single quotes or double quotes to represent strings

In [47]:
myString1='hi'
print(myString1)
myString2="hello"
print(myString2)

myString3='''How are you'''
print(myString3)

hi
hello
How are you

Multi line strings can be denoted using triple quotes, '''or'''

In [49]:
name='''data
science
course'''
print(name)

data
science
course

In [50]:
var2="132"
type(var2)

str

In [51]:
var1='nit'
print(var1)

nit

In [53]:
type(var1)

str

In [54]:
var3=123
type(var3)

int

Length of string

In [55]:
string="hello"
len(string)

5

In [56]:
string1="Mahender"
len(string1)

8

f string

In [57]:
num=12
name='mani'
print(f"my number is:{num} and my name is: {name}")

my number is:12 and my name is: mani

String concatenation
    . Joining of two or more strings into a single one is called concatenation.
    . The + operator does this in Python. Simply writing two string literals together also concatenates them.
    . Note: to use+ operator for strings, compulsoryboth should be string type only

In [58]:
"hello"+"world"

'helloworld'

In [59]:
'Hello'+" "+"world"

'Hello world'

In [60]:
"mani"+2

TypeError: can only concatenate str (not "int") to str

In [61]:
"mani"+"2"

'mani2'

In [63]:
"mani"+str(2)

'mani2'

In [64]:
'mani'+'3'

'mani3'

Type Casting: Converting from one data type to another data type

In [65]:
int(-4)

-4

In [66]:
float(-4)

-4.0

In [67]:
bool(0.369)

True

In [68]:
bool()

False

In [69]:
str(2)

'2'

In [70]:
str(-2)

'-2'

In [71]:
int(2.99)

2

In [72]:
float(2.99)

2.99

In [73]:
bool(2.99)

True

In [74]:
str(2.99)

'2.99'

In [75]:
int(True)

1

In [79]:
int(False)

0

In [76]:
float(True)

1.0

In [77]:
float(False)

0.0

In [78]:
str(False)

'False'

In [80]:
int("mani")

ValueError: invalid literal for int() with base 10: 'mani'

In [81]:
int("123")

123

In [82]:
float("123")

123.0

In [83]:
bool("mani")

True

In [84]:
float(int(float("123.45")))

123.0